#Include assets
include resources/assets/*frag
include resources/assets/*.ttf
include resources/assets/Tiles/*.png
include resources/assets/Entities/*.png

#Include game configurations
include resources/gameConfigurations/TBS/*.yaml
include resources/gameConfigurations/RTS/*.yaml